body {
    background: #e5e5e5;
    color: #25282b;
    text-align: center;
}

button {
    color: #ff5e84;
    border: none;
    font-weight: "bold";
    background: none;
}

button:hover {
    font-weight: "bold";
    opacity: 0.1;
    cursor: pointer;
}

.fat {
    color: #fff;
    background: #ff5E84;
}

#footer a {
    color: #25282b;
    text-decoration: none;
}

#footer a:hover {
    color: #078cc0;
    text-decoration: underline;
}

.hide {
    display: none;
}